numpy==1.12.0
scipy==0.18.1
scikit-learn==0.18.1
tqdm
typing

# use latest git versions
git+https://github.com/kmike/pymorphy2.git#egg=pymorphy2
git+https://github.com/kmike/russian-tagsets.git#egg=russian-tagsets
